* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body {
    background: #f5f7fa;
    color: #333;
}
.head {
    height: 100vh;
    background-color:#2c5364;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.head h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.head p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #00c8ff ;
    color:black;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    width: 200px;
}
nav{
    padding: 10px;
}
nav a{
   display:inline-block;
   padding: 10px;
   text-decoration: none;
   color: rgb(124, 231, 243);
   border-radius: 30px;
   margin: 5px;
}
nav a:hover{
    color: black;
    transform: translate(-5px,-5px);
    background-color: #00c8ff ;
    box-shadow:0.2px 0.20px 3px black;
    font-weight: bold;
}
.events {
    padding: 80px;
    text-align: center;
}

.events h2 {
    font-size: 2.5rem;
    margin: 50px;
}

.gallery {
    display: flex;
    flex-direction: row;
    min-width: 250px;
    column-gap: 30px;
}

.part {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.part:hover {
    transform: translateY(-10px);
    box-shadow:0px 0px 5px black;
}

.part img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.part-content {
    padding: 20px;
}

.part-content h3 {
    margin-bottom: 10px;
    color: #2c5364;
}
.part-content p{
    font-family: cursive;
}
#register {
    background: #2c5364;
    color: white;
    padding: 80px 8%;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
}

#register h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.3rem;
}

.form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input,
.form select,
.form textarea {
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
}
.form button {
    padding: 12px;
    background: #00c6ff;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
footer {
    background: #0f2027;
    color: white;
    text-align: center;
    padding: 15px;
    background-color: gray;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
     border-radius: 5px;
     box-shadow: -1px -1px 2px rgb(0, 0, 0);
}
.icons{
    text-align: center;

}
.icons i{
    margin: 1px;
    
}
.icons i:hover{
    background-color: rgb(51, 51, 51);
    box-shadow: 1px 1px 5px black;
    
}
.fa-brands.fa-instagram.fa-2x{
    background: radial-gradient(circle at 30% 107%,
        #fdf497 0%, #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}

.fa-brands.fa-facebook.fa-2x{
    color: rgb(0, 138, 218);
}
.fa-brands.fa-linkedin.fa-2x{
    color: rgb(1, 96, 151);
}
@media screen and (max-width:780px){
    .gallery {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
    
}